<h2>Order List</h2>

<button class="btn btn-primary btn-lg mb-3" (click)="reloadPage()">
  <i class="fa-solid fa-arrows-rotate"></i> Reload Page to update data list
</button>

<table class="table">
  <thead>
    <tr class="table-info">
      <th>Order tracking number</th>
      <th class="text-center">Total price</th>
      <th class="text-center">Total quantity</th>
      <th>Date created</th>
      <th>Status</th>
      <th>Order detail</th>
      <th>Set new status for order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList; let i = index">
      <td>{{ order.orderTrackingNumber }}</td>
      <td class="text-center">{{ order.totalPrice }}</td>
      <td class="text-center">{{ order.totalQuantity }}</td>
      <td>{{ order.dateCreated | date : "HH:mm dd/MM/yyyy" }}</td>
      <td>{{ order.status }}</td>
      <td>
        <button (click)="orderDetails(order.id!)" class="btn btn-info">
          Order detail
        </button>
      </td>
      <td>
        <select [(ngModel)]="setStatusOrder[i]">
          <option *ngFor="let temp of orderStatus" [value]="temp">
            {{ temp }}
          </option>
        </select>
      </td>
      <td>
        <button
          (click)="setStatusForOrder(order.id!, order, setStatusOrder[i])"
          class="btn btn-info"
        >
          Update status order
        </button>
      </td>
    </tr>
  </tbody>
</table>
