<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li>
        <a routerLink="/revenue" routerLinkActive="active-link">
          Watch revenue
        </a>
      </li>

      <li>
        <a routerLink="/order-list" routerLinkActive="active-link">
          Order manage
        </a>
      </li>

      <li>
        <a routerLink="/product-list" routerLinkActive="active-link">
          Product manage
        </a>
      </li>

      <li>
        <a routerLink="/customer-list" routerLinkActive="active-link">
          Customer manage
        </a>
      </li>

      <li>
        <a routerLink="/product-category-list" routerLinkActive="active-link">
          Product category manage
        </a>
      </li>
    </ul>
  </nav>
</div>
