<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <a routerLink="/product-list" class="mb-3"> Return back product list</a>
      <div *ngIf="isUpdate; else createText"><h3>Update product</h3></div>
      <ng-template #createText><h3>Create product</h3></ng-template>

      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-2"><label>Description</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input
                    type="text"
                    id="description"
                    formControlName="description"
                  />
                </div>
                <div
                  *ngIf="
                    productForm.get('description')!.invalid &&
                    productForm.get('description')!.touched
                  "
                  class="alert alert-danger mt-1"
                >
                  Description is required
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Name</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" id="name" formControlName="name" />
                </div>
                <div
                  *ngIf="
                    productForm.get('name')!.invalid &&
                    productForm.get('name')!.touched
                  "
                  class="alert alert-danger mt-1"
                >
                  Name is required
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Sku</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" id="sku" formControlName="sku" />
                </div>
                <div
                  *ngIf="
                    productForm.get('sku')!.invalid &&
                    productForm.get('sku')!.touched
                  "
                  class="alert alert-danger mt-1"
                >
                  Sku is required
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Unit price</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input
                    type="text"
                    id="unitPrice"
                    formControlName="unitPrice"
                  />
                </div>
                <div
                  *ngIf="
                    productForm.get('unitPrice')!.invalid &&
                    productForm.get('unitPrice')!.touched
                  "
                  class="alert alert-danger mt-1"
                >
                  Unit price is required
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Units in stock</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input
                    type="text"
                    id="unitsInStock"
                    formControlName="unitsInStock"
                  />
                </div>
                <div
                  *ngIf="
                    productForm.get('unitsInStock')!.invalid &&
                    productForm.get('unitsInStock')!.touched
                  "
                  class="alert alert-danger mt-1"
                >
                  Units in stock is required
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Product category</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="categoryId">
                    <option
                      *ngFor="let productCateory of productCateoryList"
                      [value]="productCateory.id"
                    >
                      {{ productCateory.categoryName }}
                    </option>
                  </select>
                </div>
                <div
                  *ngIf="
                    productForm.get('categoryId')!.invalid &&
                    productForm.get('categoryId')!.touched
                  "
                  class="alert alert-danger mt-1"
                >
                  Product category is required
                </div>
              </div>
            </div>

            <div *ngIf="isUpdate; else createButton">
              <button
                type="submit"
                [disabled]="productForm.invalid"
                class="btn btn-info"
              >
                Update
              </button>
            </div>
            <ng-template #createButton>
              <button
                type="submit"
                [disabled]="productForm.invalid"
                class="btn btn-info"
              >
                Create
              </button>
            </ng-template>
          </form>
        </div>

        <div class="col-md-6">
          <div class="container row">
            <div class="col-md-12">
              <h3>Upload Images</h3>
            </div>
          </div>

          <div class="container row">
            <div class="col-md-12">
              <input type="file" multiple (change)="onFilesChanged($event)" />

              <input type="button" (click)="onUpload()" value="Upload" />

              <div *ngFor="let img of imgURLs">
                <img [src]="img" />
              </div>
            </div>
          </div>

          <div class="container row">
            <div class="col-md-12">
              <p>{{ message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
